
  <h1>Amazing Facts</h1>
  <hr>
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
<div class="container">
    <div class="row" *ngFor="let quote of quotes;let i = 'index'">
        <div class="row">

           
        </div>
            <h4 id="{{i}}" appStrikethrough>{{quote.name}}</h4>
            <button class="btn btn-primary" (click)='toogleDetails(i)'>Toogle Details</button>
        
        
        <div class="row" *ngIf="quote.showDescription">
        <app-quote-details  [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
    </div>
    
</div>

</div>

<p *ngIf='quotes.length > 9'>You have too many quotes</p>
